<style>
body {background: url(/static/0.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: silver; color:black}
</style>
{% extends "base.html" %}
{% block content %}
  <h1 style"Raleway: Sofia Sans Condensed">САЙТ СОЗДАН СТУДЕНТАМИ ПРК С БОЖЬЕЙ ПОМОЩЬЮ. Мы создали этот сайт, потому что нам задали его сделать на предмете Основы программирования и чтобы получить пятерки, мы создали этот сайт.</h1>
  <p style="color:white">Донат на карту 89028097445 (сбер, тиньк, втб, альфа) или поставьте 5 ))))</p>
{% endblock %}